button {
  border        : 0;
  padding       : 10px;
  border-radius : 4px;
  text-transform: uppercase;
  cursor        : pointer;
  box-shadow    : rgba(0, 0, 0, 0.3) 1px 1px 5px;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px inset;
}

.serviceo-btn-primary {
  background-color: blue;
  color           : white;
}

.serviceo-btn-secondary {
  background-color: yellow;
  color           : black;
}

.serviceo-btn-small {
  font-size: 12px;
  padding: 10px 16px;
}
.serviceo-btn-medium {
  font-size: 14px;
  padding: 11px 20px;
}
.serviceo-btn-large {
  font-size: 16px;
  padding: 12px 24px;
}
