.avater {
    padding: 0, 1rem;
    border: 1px solid #fff;

}

.avtMenuwidth {
    margin-top: 22px !important;
    width: 220px !important
}

.ant-dropdown-menu-item {
    padding: .71rem !important;
    border-bottom: 2px solid #eeee !important;
}

.ant-dropdown-menu-title-content > a {
    text-transform: capitalize;
}